<div class="grid-vehicle">
    <figure class="effect-sadie" id="divVehicle">
        <img src="~/HoverEffectIdeas/HoverEffectIdeas/img/t3.png" alt="img19" />
        <figcaption>
            <h2><i class="fa fa-car"></i> Veículos</h2>

            @Html.Partial("Login/Vehicle/_ButtonsDefaultVehicle")

            @Html.Partial("Login/Vehicle/_ButtonsPhaseTwoVehicle")

        </figcaption>
    </figure>

    @Html.Partial("Login/Vehicle/_TextBoxVehicle")

</div>