<div class="grid-ftp">
    <figure class="effect-sadie" id="divFtp">
        <img src="~/HoverEffectIdeas/HoverEffectIdeas/img/t4.png" alt="img18" />
        <figcaption>
            <h2><i class="fa fa-exchange"></i> Arquivos <span>FTP</span></h2>

            @Html.Partial("Login/Ftp/_ButtonsDefaultFtp")

            @Html.Partial("Login/Ftp/_ButtonsPhaseTwoFtp")

        </figcaption>
    </figure>

    @Html.Partial("Login/Ftp/_TextBoxFtp")

</div>