<div class="grid-pj">
    <figure class="effect-sadie" id="divPj">
        <img src="~/HoverEffectIdeas/HoverEffectIdeas/img/t2.png" alt="img11" />
        <figcaption>
            <h2><i class="fa fa-briefcase"></i> Pessoa <span>Jurídica</span></h2>

            @Html.Partial("Login/Pj/_ButtonsDefaultPj")

            @Html.Partial("Login/Pj/_ButtonsPhaseTwoPj")

        </figcaption>
    </figure>

    @Html.Partial("Login/Pj/_TextBoxPj")

</div>