<div class="grid-pf">
    <figure class="effect-sadie" id="divPf">
        <img src="~/HoverEffectIdeas/HoverEffectIdeas/img/t1.png" />
        <figcaption>
            <h2><i class="fa fa-search-plus"></i> Pessoa <span>Física</span></h2>

            @Html.Partial("Login/Pf/_ButtonsDefaultPf")

            @Html.Partial("Login/Pf/_ButtonsPhaseTwoPf")

        </figcaption>
    </figure>

    @Html.Partial("Login/Pf/_TextBoxPf")

</div>