<div class="row">
    <div class="heading heading-secondary heading-border heading-bottom-border">
        <div class="row">
            <div class="col-md-12">
                <h1>Serviços <strong>Contratados</strong></h1>
            </div>
        </div>
    </div>
</div>