<div class="col-md-5">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Seja por mala direta, e-mail marketing, telemarketing ou mesmo SMS, é preciso contar com um 
                        mailing qualificado para obter êxito nesta comunicação. Mais importante do que falar, é 
                        comunicar-se com o público certo, na hora certa e no canal certo.
                    </p>
                    <p>
                        A DNA+ possui mailings qualificados e atualizados e oferece recursos especiais de segmentação 
                        para colaborar com suas metas e objetivos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>