<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Saber com quem quer falar é o mais importante!
                        Falar com o público certo, na hora certa e do jeito certo faz toda a
                        diferença na hora de alcançar os resultados esperados pela sua empresa.
                        Por isso, nós da DNA+, oferecemos recursos especializados em mailing com alto nível de segmentação.
                    </p>
                    <p>
                        Seja para ações de mala direta, e-mail marketing, telemarketing ou mesmo SMS, você pode contar
                        com o nosso mailing segmentado, que é atualizado com informações completas e confiáveis de pessoas
                        físicas e jurídicas em todo o território nacional.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>