<p id="btnDefault">
    Pesquisa:
    <button class="btn btn-pj" id="btnCnpj">CNPJ</button>
    <button class="btn btn-pj" id="btnRs">Razão Social</button>
    <button class="btn btn-pj" id="btnTelPj">Telefone</button>
</p>