<p id="btnPjPhaseTwo" hidden="hidden">
    Pesquisa:
    <button class="btn btn-pj" id="btnCnpjPhaseTwo">CNPJ</button>
    <button class="btn btn-pj" id="btnRsPhaseTwo">Razão Social</button>
    <button class="btn btn-pj" id="btnTelPjPhaseTwo">Telefone</button>
</p>