<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        O que é?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p class="line-height-lg">
                        Forma de comunicação online mais antiga, o e-mail marketing é uma das
                        estratégias mais recorrentes no relacionamento com o cliente, pois
                        apresenta ótima relação custo X benefício.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>