<div class="post-block post-comments clearfix">
    <h3 class="heading-primary"><i class="fa fa-comments"></i>Comentários (3)</h3>

    <ul class="comments">
        <li>
            <div class="comment">
                <div class="img-thumbnail">
                    <img class="avatar" alt="" src="~/img/profile01.jpg">
                </div>
                <div class="comment-block">
                    <div class="comment-arrow"></div>
                    <span class="comment-by">
                        <strong>John Doe</strong>
                        <span class="pull-right">
                            <span> <a href="#"><i class="fa fa-reply"></i> Responder</a></span>
                        </span>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                    <span class="date pull-right">12 de Novembro de 2016 às 13:38</span>
                </div>
            </div>

            <ul class="comments reply">
                <li>
                    <div class="comment">
                        <div class="img-thumbnail">
                            <img class="avatar" alt="" src="~/img/profile02.jpg">
                        </div>
                        <div class="comment-block">
                            <div class="comment-arrow"></div>
                            <span class="comment-by">
                                <strong>John Doe</strong>
                                <span class="pull-right">
                                    <span> <a href="#"><i class="fa fa-reply"></i> Responder</a></span>
                                </span>
                            </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                            <span class="date pull-right">12 de Novembro de 2016 às 13:38</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comment">
                        <div class="img-thumbnail">
                            <img class="avatar" alt="" src="~/img/profile03.jpg">
                        </div>
                        <div class="comment-block">
                            <div class="comment-arrow"></div>
                            <span class="comment-by">
                                <strong>John Doe</strong>
                                <span class="pull-right">
                                    <span> <a href="#"><i class="fa fa-reply"></i> Responder</a></span>
                                </span>
                            </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                            <span class="date pull-right">12 de Novembro de 2016 às 13:38</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment">
                <div class="img-thumbnail">
                    <img class="avatar" alt="" src="~/img/profile04.jpg">
                </div>
                <div class="comment-block">
                    <div class="comment-arrow"></div>
                    <span class="comment-by">
                        <strong>John Doe</strong>
                        <span class="pull-right">
                            <span> <a href="#"><i class="fa fa-reply"></i> Responder</a></span>
                        </span>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <span class="date pull-right">12 de Novembro de 2016 às 13:38</span>
                </div>
            </div>
        </li>
        <li>
            <div class="comment">
                <div class="img-thumbnail">
                    <img class="avatar" alt="" src="~/img/profile05.jpg">
                </div>
                <div class="comment-block">
                    <div class="comment-arrow"></div>
                    <span class="comment-by">
                        <strong>John Doe</strong>
                        <span class="pull-right">
                            <span> <a href="#"><i class="fa fa-reply"></i> Responder</a></span>
                        </span>
                    </span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <span class="date pull-right">12 de Novembro de 2016 às 13:38</span>
                </div>
            </div>
        </li>
    </ul>

</div>

<div class="post-block post-leave-comment">
    <h3 class="heading-primary">Deixe um comentário</h3>

    <form action="" method="post">
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Seu nome *</label>
                    <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                </div>
                <div class="col-md-6">
                    <label>Seu endereço de e-mail *</label>
                    <input type="email" value="" maxlength="100" class="form-control" name="email" id="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Comente *</label>
                    <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Postar" class="btn btn-primary btn-lg" data-loading-text="Carregando...">
            </div>
        </div>
    </form>
</div>