<div class="row">
    <div class="heading heading-secondary heading-border heading-bottom-border">
        <div class="row">
            <div class="col-md-12">
                <h1>Quem <strong>Somos</strong></h1>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="row">
        <p>A DNA+ é especializada no fornecimento de informações inteligentes voltadas para o segmento de pessoas, de empresas e de automóveis, com forte atuação em seguradoras, bancos, financeiras, empresas de cobrança e grande varejo. Atua com a mais alta tecnologia, disponibilizando ferramentas que auxiliam o cliente a tomar decisões estratégicas a cada ciclo de negócio.</p>
        <p>A equipe da DNA+ é formada por profissionais das áreas técnica e comercial, com larga experiência em mercado financeiro, data base e marketing. Sua expertise em processos de BI e estruturação de base de dados permite que o cliente acesse a informação com agilidade e de maneira customizada.</p>
        <p>A DNA+ forma a sua base de dados, tanto de pessoas físicas, como de pessoas jurídicas, a partir ferramenta automática de busca em fontes públicas e parceiros de negócios. Dessa maneira, seu banco de dados está em permanente atualização, o que garante a assertividade da informação.</p>
    </div>
</div>