<div class="row">
    <div class="heading heading-secondary heading-border heading-bottom-border">
        <div class="row">
            <div class="col-md-12">
                <h1>O que <strong>Queremos</strong></h1>
            </div>
        </div>
    </div>
</div>

<div class="featured-boxes-full">
    <div class="col-md-4">
        <div class="featured-box-full featured-box-full-primary">
            <i class="fa fa-bullseye"></i>
            <h4>Missão</h4>
            <p>
                Prover conhecimento mercadológico através de informações quantitativas, visando apoiar as metas corporativas de cada cliente.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="featured-box-full featured-box-full-secondary">
            <i class="fa fa-eye"></i>
            <h4>Visão</h4>
            <p>
                Buscar a liderança no mercado de informações e soluções inteligentes, dando total suporte ao cliente em seus processos decisórios.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="featured-box-full featured-box-full-tertiary">
            <i class="fa fa-lightbulb-o"></i>
            <h4>Valores</h4>
            <p>
                Promover inovação, pautar-se pela ética profissional, manter a integridade e o respeito pelo indivíduo.
            </p>
        </div>
    </div>
</div>