@*<div class="row">
    <div class="heading heading-secondary heading-border heading-bottom-border">
        <div class="row">
            <div class="col-md-12">
                <h1>Essa é a nossa <strong>História</strong></h1>
            </div>
        </div>
    </div>
</div>

<ul class="history">
    <li class="appear-animation" data-appear-animation="fadeInUp">
        <div class="thumb">
            <img src="~/img/office-4.jpg" alt="" />
        </div>
        <div class="featured-box">
            <div class="box-content">
                <h4 class="heading-primary"><strong>2012</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
            </div>
        </div>
    </li>
    <li class="appear-animation" data-appear-animation="fadeInUp">
        <div class="thumb">
            <img src="~/img/office-3.jpg" alt="" />
        </div>
        <div class="featured-box">
            <div class="box-content">
                <h4 class="heading-primary"><strong>2010</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.</p>
            </div>
        </div>
    </li>
    <li class="appear-animation" data-appear-animation="fadeInUp">
        <div class="thumb">
            <img src="~/img/office-2.jpg" alt="" />
        </div>
        <div class="featured-box">
            <div class="box-content">
                <h4 class="heading-primary"><strong>2005</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
            </div>
        </div>
    </li>
    <li class="appear-animation" data-appear-animation="fadeInUp">
        <div class="thumb">
            <img src="~/img/office-1.jpg" alt="" />
        </div>
        <div class="featured-box">
            <div class="box-content">
                <h4 class="heading-primary"><strong>2000</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
            </div>
        </div>
    </li>
</ul>*@
