<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        O que é?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Hoje as pessoas passam o dia todo com o celular, ou seja, elas podem ser facilmente encontradas e 
                        impactadas pela sua mensagem por meio deste aparelho.
                    </p>
                    <p>
                        Enviar SMS é uma poderosa ferramenta de comunicação da sua empresa, além de exigir um baixo investimento 
                        e possuir um excelente retorno.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>