<div class="col-md-11">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Benefícios
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <ul class="list list-icons list-secondary">
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                O contato será rápido e de forma assertiva;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Poderá ser aplicado para suas campanhas de
                                compras coletivas, call centers, e-commerce, educação, financeira, saúde, endomarketing, etc;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Além disso, apresenta alta performance quando falamos de resultados esperados.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>