<p id="btnDefault">
    Pesquisa:
    <button class="btn btn-pf" id="btnCpf">CPF</button>
    <button class="btn btn-pf" id="btnAddr">Endereço</button>
    <button class="btn btn-pf" id="btnName">Nome</button>
    <button class="btn btn-pf" id="btnTel">Telefone</button>

    @*<a href="@Url.Action("CpfPf","Login")" class="btn btn-pf">CPF</a>
        <a href="@Url.Action("AllServices","Services")" class="btn btn-pf">Endereço</a>
        <a href="@Url.Action("AllServices","Services")" class="btn btn-pf">Nome</a>
        <a href="@Url.Action("AllServices","Services")" class="btn btn-pf">Telefone</a>*@
</p>