<p id="btnPhaseTwo" hidden="hidden">
    Pesquisa:
    <button class="btn btn-pf" id="btnCpfPhaseTwo">CPF</button>
    <button class="btn btn-pf" id="btnAddrPhaseTwo">Endereço</button>
    <button class="btn btn-pf" id="btnNamePhaseTwo">Nome</button>
    <button class="btn btn-pf" id="btnTelPhaseTwo">Telefone</button>
</p>