<p id="btnDefault">
    Pesquisa:
    <button class="btn btn-pf" id="btnCpf">CPF</button>
    <button class="btn btn-pf" id="btnAddr">Endereço</button>
    <button class="btn btn-pf" id="btnName">Nome</button>
    <button class="btn btn-pf" id="btnTel">Telefone</button>
</p>