<div class="col-md-6" hidden="hidden" id="pfCpf">
    <label style="float:left;">CPF</label>
    <input type="text" class="form-control" id="txtCpf" style="margin-bottom:5px;" />
    <input type="button" value="Pesquisar" class="btn btn-default" style="float:left;margin-bottom:10px;" />
</div>
<div class="col-md-6" hidden="hidden" id="pfAddr">
    <label style="float:left;">Endereço</label>
    <input type="text" class="form-control" id="txtAddr" style="margin-bottom:5px;" />
    <input type="button" value="Pesquisar" class="btn btn-default" style="float: left; margin-bottom: 10px;" />
</div>
<div class="col-md-6" hidden="hidden" id="pfName">
    <label style="float:left;">Nome</label>
    <input type="text" class="form-control" id="txtName" style="margin-bottom:5px;" />
    <input type="button" value="Pesquisar" class="btn btn-default" style="float: left; margin-bottom: 10px;" />
</div>
<div class="col-md-6" hidden="hidden" id="pfTel">
    <label style="float:left;">Telefone</label>
    <input type="text" class="form-control" id="txtTel" style="margin-bottom:5px;" />
    <input type="button" value="Pesquisar" class="btn btn-default" style="float: left; margin-bottom: 10px;" />
</div>