<div class="col-md-11">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Benefícios
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <ul class="list list-icons list-secondary">
                        <li>
                            <i class="fa fa-check"></i>
                            <p class="short">
                                Atingir de forma assertiva os clientes que
                                mantém ou têm, com o objetivo de resgatar para novos contatos;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p class="short">
                                Criar campanhas novas e ter a possibilidade
                                de falar com seus clientes que porventura possam ter dados atuais e que por você foram perdidos;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p class="short">
                                Ter uma base de dados sempre atualizada (considerando que aproximadamente 20%
                                de pessoas jurídicas e físicas tem alterações de dados em bases cadastrais) e tornando assim
                                seus dados e registros mais completos e com maior indice de assertividade em seu trabalho;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p class="short">
                                Eliminar a possibilidade de falhas no banco de dados. Dessa forma, evita que documentos sejam 
                                enviados para endereços errados, ações de marketing e cobranças encaminhadas mais de uma vez 
                                para o mesmo contato, não prejudicando a imagem da sua empresa.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>