<p class="taller line-height-xl">
    DNA+ oferece uma ampla gama de ferramentas de pesquisa de <span class="alternative-font">pessoas físicas</span> e <span class="alternative-font">pessoas jurídicas</span>, 
    a partir da sua vigorosa base de dados, disponibilizando, em uma única plataforma online, informações cadastrais de seus clientes. 
</p>