<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Utilizamos informações básicas, como nome completo ou outros dados a ele associados, e adicionamos 
                        os números de CPF ou CNPJ à sua base de dados, oferecendo a possibilidade de enriquecer e atualizá-la.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>