<div class="col-md-7">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p class="short line-height-lg">
                        Através de informações simples como nome completo ou outros dados a ele associados,
                        como endereço ou outros, a DNA+ consegue adicionar informações de CPF ou CNPJ (empresas)
                        a sua base de dados.
                    </p>
                    <p class="line-height-lg">
                        Proporcionando assim, possibilidade de enriquecer e atualizar sua base.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>