<div class="col-md-12">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Benefícios
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <ul class="list list-icons list-secondary">
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Ter uma base de dados mais produtiva, assertiva e adequada as suas necessidades;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Montar estratégias de ações de cobrança e crédito, relacionadas as informações de documentos adicionadas a sua base;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Ampliação e atualização de outros dados em sua base, que são obtidas com maior facilidade quando buscados pelos documentos por nós atribuído.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>