<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        O que é?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        O tratamento de Dados consiste na realização de uma análise na base de dados
                        do cliente, buscando informações que possam estar duplicadas ou com dados inconsistentes.
                    </p>
                    <p>
                        Com isso, permitiremos que as informações contidas em sua base mantenham-se sempre
                        atualizadas e que possam ser organizadas com filtros quando necessário.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


