<div class="col-md-5">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        O que é?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Hoje o país possui mais de 260 milhões de linhas ativas de celular. Ou seja, as pessoas
                        podem ser facilmente acionadas e encontradas pelo telefone móvel.
                    </p>
                    <p>
                        O envio de SMS é uma
                        das mais poderosas ferramentas de comunicação do momento, com alto índice de retorno e baixo investimento.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>