<div class="col-md-9">
    <h2 class="mb-sm mt-sm">Preencha seus <strong>Dados</strong></h2>
    <form id="contactForm" action="php/contact-form.php" method="POST">
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Seu nome *</label>
                    <input type="text" value="" data-msg-required="Por favor, insira seu nome." maxlength="100" class="form-control" name="name" id="name" required>
                </div>
                <div class="col-md-6">
                    <label>Seu endereço de e-mail. *</label>
                    <input type="email" value="" data-msg-required="Por favor, insira seu endereço de e-mail." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Assunto</label>
                    <input type="text" value="" data-msg-required="Por favor, insira um assunto." maxlength="100" class="form-control" name="subject" id="subject" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Mensagem *</label>
                    <textarea maxlength="5000" data-msg-required="Por favor, insira sua mensagem para nós!." rows="10" class="form-control" name="message" id="message" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Enviar mensagem" class="btn btn-primary btn-lg mb-xlg" data-loading-text="Carregando...">
            </div>
        </div>
    </form>
</div>