<div class="col-md-12">
    <div class="row">
        <div class="heading heading-secondary heading-border heading-bottom-border">
            <div class="row">
                <h1><strong>Missão</strong></h1>
            </div>
        </div>
    </div>

    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center"></a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Prover conhecimento mercadológico por meio do fornecimento de informações de qualidade, visando apoiar as metas corporativas de cada cliente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>