<div class="alert alert-danger" id="newsletterError">
    <strong>Não foi possível efetivar sua inscrição!</strong> <br />
    Encontramos problemas ao cadastrar sua inscrição.
</div>

<script>
    $('#newsletterError').delay(5000).fadeOut(2000);
    $('#loadingGif').delay(5000).fadeOut(2000);
</script>
