<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        Por meio de uma plataforma web, sua empresa pode enviar mensagens de texto (marketing,
                        promoções, cobrança, agendas ou eventos) para o celular do cliente ou público-alvo específico,
                        em datas e horários estratégicos.
                    </p>
                    <p>
                        Basta digitar sua mensagem e enviar o SMS, sem complicações.
                        Mas se preferir, a DNA+ pode fazer todo o serviço on demand.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>