<div class="col-md-5">
    <div class="panel-group without-bg" id="firstBoxDataEnrichment">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        O que é?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        A DNA+ consegue ampliar sua base de dados seja ela de clientes
                        ou não, assim como enriquecer as informações que possui.
                    </p>
                    <p>
                        Além de aumentar o número de sua base, podemos também melhorar a qualidade
                        dos dados que já possui.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>