<div class="col-md-6">
    <div class="panel-group without-bg" id="secondBoxDataEnrichment">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p class="short">
                        Recebemos a base de dados incompleta e adicionamos as informações necessárias para direcionar suas 
                        próximas ações. 
                    </p>
                    <p>
                        Essa nova base enriquecida permite o uso de filtros de acordo com a necessidade do cliente, podendo 
                        ser tanto de Pessoa Física quanto de Pessoa Jurídica.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>