@{
    ViewBag.Title = "Pessoa Física";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@Html.Partial("Login/Pf/_TitleBarPf")

<div class="container">

    <div class="col-md-12">
        @Html.Partial("Login/Pf/_HeadingPf")

        <div class="col-md-12">
            <div class="tabs tabs-secondary">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabCpf" id="cpf" data-toggle="tab"><i class="fa fa-user"></i> CPF</a>
                    </li>
                    <li>
                        <a href="#tabEndereco" id="endereco" data-toggle="tab"><i class="fa fa-map-marker"></i> Endereço</a>
                    </li>
                    <li>
                        <a href="#tabNome" id="nome" data-toggle="tab"><i class="fa fa-user-secret"></i> Nome</a>
                    </li>
                    <li>
                        <a href="#tabTelefone" id="telefone" data-toggle="tab"><i class="fa fa-phone"></i> Telefone</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabCpf" class="tab-pane active">
                        <p>
                            <div id="pfCpf">
                                <label>CPF</label>
                                <input type="text" class="form-control hidden-xs" id="txtCpf" style="width:200px;" />
                                <input type="text" class="form-control hidden-lg hidden-md hidden-sm" id="txtCpf" />
                                <input type="button" value="Pesquisar" class="btn btn-default" />
                            </div>
                        </p>
                    </div>
                    <div id="tabEndereco" class="tab-pane">
                        <p>
                            <label>Pesquisar por:</label>

                            <div class="radio">
                                <label><input type="radio" name="optRadio" id="cepRadio">CEP</label>
                            </div>

                            <div id="divCep" class="hidden">
                                <label>Número do CEP</label>
                                <input type="text" class="form-control hidden-xs" id="txtCep" style="width:200px;" />
                                <input type="text" class="form-control hidden-lg hidden-md hidden-sm" id="txtCep" />
                                <input type="button" value="Pesquisar" class="btn btn-default" />
                            </div>

                            <div class="radio">
                                <label><input type="radio" name="optRadio" id="endRadio">Endereço Completo</label>
                            </div>

                            <div id="divEnderecoCompleto" class="hidden">

                                <div class="form-group">
                                    <label for="Uf">UF</label>
                                    <select class="form-control hidden-xs" id="Uf" style="width:500px;">
                                        <option>Selecione uma UF</option>
                                    </select>
                                    <select class="form-control hidden-lg hidden-md hidden-sm" id="Uf">
                                        <option>Selecione uma UF</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="Cidade">Cidade</label>
                                    <select class="form-control hidden-xs" id="Uf" disabled="disabled" style="width:500px;">
                                        <option>Selecione uma Cidade</option>
                                    </select>
                                    <select class="form-control hidden-lg hidden-md hidden-sm" id="Uf">
                                        <option>Selecione uma Cidade</option>
                                    </select>
                                </div>

                                <label>Bairro</label>
                                <input type="text" class="form-control" style="width:500px;">
                                <br />
                                <label>Logradouro</label>
                                <input type="text" class="form-control" style="width:500px;">
                                <br />
                                <div class="container">
                                    <div class="row">
                                        <div style="float:left">
                                            <label>Número</label>
                                            <input type="text" class="form-control" style="width:100px;">
                                        </div>
                                        <div style="float:left">
                                            <label>Complemento</label>
                                            <input type="text" class="form-control" style="width:400px;">
                                        </div>
                                    </div>

                                    <br />

                                </div>
                                <input type="button" value="Pesquisar" class="btn btn-default" />

                            </div>
                        </p>
                    </div>
                    <div id="tabNome" class="tab-pane">
                        <p>
                            <div id="pfName">
                                <label>Nome</label>
                                <input type="text" class="form-control hidden-xs" id="txtNome" style="width:500px;" />
                                <input type="text" class="form-control hidden-lg hidden-md hidden-sm" id="txtNome" />
                                <input type="button" value="Pesquisar" class="btn btn-default" />
                            </div>
                        </p>
                    </div>
                    <div id="tabTelefone" class="tab-pane">
                        <p>
                            <div class="container">
                                <div class="row">
                                    <div style="float:left">
                                        <label>DDD</label>
                                        <input type="text" class="form-control" id="txtDdd" style="width:40px;" />
                                    </div>

                                    <div style="float:left">
                                        <label>Telefone</label>
                                        <input type="text" class="form-control hidden-xs" id="txtTel" style="width:200px;" />
                                        <input type="text" class="form-control hidden-lg hidden-md hidden-sm" id="txtTel" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="button" value="Pesquisar" class="btn btn-default" />
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="content" style="cursor:default;">
                <div class="grid" style="cursor:default;">
                    <div class=" grid-pf-after" style="cursor:default;">
                        <figure class="effect-sadie-2" id="divPf" style="cursor:default;">
                            <img src="~/HoverEffectIdeas/HoverEffectIdeas/img/t1.png" />
                            <figcaption>
                                <h2><i class="fa fa-search-plus"></i> Pessoa <span>Física</span></h2>

                                <div class="col-md-6" id="pfCpf" style="margin-top:20%;">
                                    <label style="float:left;">CPF</label>
                                    <input type="text" class="form-control" id="txtCpf" style="margin-bottom:5px;" />
                                    <input type="button" value="Pesquisar" class="btn btn-default" style="float:left;margin-bottom:10px;" />
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>*@

    </div>
</div>

<script>

    $(document).ready(function () {

        $('#txtCpf').focus();

        $("input:radio").click(function (e) {

            var radioSelecionado = e.target.id;

            if (radioSelecionado == "cepRadio")
            {
                $('#divCep').removeClass('hidden');
                $('#divEnderecoCompleto').addClass('hidden');

                setTimeout(function () {
                    $('#txtCep').focus();
                }, 1);

            }
            else if (radioSelecionado == "endRadio")
            {
                $('#divEnderecoCompleto').removeClass('hidden');
                $('#divCep').addClass('hidden');
            }
        });

        $("a").click(function (e) {

            var abaClicada = e.target.id;

            if (abaClicada == "cpf") {
                setTimeout(function () {
                    $('#txtCpf').focus();
                }, 1);
            }
            else if (abaClicada == "nome")
            {
                setTimeout(function () {
                    $('#txtNome').focus();
                }, 1);
            }
            else if (abaClicada == "telefone")
            {
                setTimeout(function () {
                    $('#txtDdd').focus();
                }, 1);
            }

        });

    });

</script>