<div class="col-md-7">
    <h4 class="heading-primary"><strong>Nosso Escritório</strong></h4>
    <ul class="list list-icons list-icons-style-3 mt-xlg">
        <li><i class="fa fa-map-marker"></i> <strong>Endereço:</strong> Av. Brigadeiro Luiz Antonio, 2696, Conj. 401, Jardim Paulista / São Paulo - SP </li>
        <li><i class="fa fa-phone"></i> <strong>Telefone:</strong> (11) 3211-2202</li>
        <li><i class="fa fa-envelope"></i> <strong>E-Mail:</strong> <a href="mailto:contato@dnamais.com.br">contato@dnamais.com.br</a></li>
    </ul>
</div>

<hr class="visible-xs visible-sm" />