@using DNAMais.Framework

<div id="divChanges">
    <div class="separator bottom"></div>
                                             
    @Html.DnaMaisMessageChanges("Foram feitas mudanças no cadastro.")
</div>
