<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-mail-forward" style="color: rgb(0,128,0)"></i> Respondidas</h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-hover mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>nº</th>
                            <th>Nome</th>
                            <th>E-Mail</th>
                            <th>Telefone</th>
                            <th>Data do Envio</th>
                            <th>Título / Assunto</th>
                            <th>Data da Resposta</th>
                            <th>Visualizar Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark Berg Johnson Orson</td>
                            <td>email@email.com</td>
                            <td>(11) 2323-2323</td>
                            <td>01/01/2015</td>
                            <td>Enriquecimento de Dados</td>
                            <td>02/01/2015</td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalAnswered" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalMessage" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalMessage" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalMessage" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalMessage" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td>01/01/2015</td>
                            <td></td>
                            <td class="center" id="modalMessage" data-toggle="modal" data-target="#answeredModal"><a href="#"><i class="fa fa-search"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>