<div class="modal fade" id="answeredModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-block modal-block-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Painel de Controle</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <table class="table table-bordered table-hover mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>nº</th>
                                <th>Nome</th>
                                <th>E-Mail</th>
                                <th>Telefone</th>
                                <th>Data do Envio</th>
                                <th>Título / Assunto</th>
                                <th>Data da Resposta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>01/01/2015</td>
                                <td>01/01/2015</td>
                                <td>01/01/2015</td>
                                <td>01/01/2015</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <table class="table table-bordered">

                        <tr>
                            <th>
                                Responsável
                            </th>
                            <td>
                                Luís Carlos Gonçalves Rogério
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                Resposta
                            </th>

                        </tr>
                        <tr>
                            <td>
                                <p class="text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis interdum magna, quis tincidunt eros ullamcorper sed.
                                    Aenean maximus volutpat sapien in malesuada. Morbi ultrices diam lacus. Nam faucibus purus ac mauris rhoncus, nec varius nunc
                                    ultrices. Nunc semper, quam id porta convallis, eros quam ultrices mi, vitae elementum ante urna nec neque. Nam malesuada
                                    commodo nibh eu consectetur. Maecenas rutrum leo sit amet ante blandit tempus. Maecenas vestibulum, libero eget convallis
                                    sollicitudin, lacus libero pellentesque ligula, non molestie ante enim vitae urna. Cras at commodo tortor. Pellentesque
                                    euismod lacus sit amet efficitur dignissim. Morbi sed eleifend mauris, eleifend fringilla neque. Vivamus vitae dolor vitae
                                    augue suscipit mollis vel quis sem. Sed metus nisl, posuere ut consequat eget, consectetur non tellus. Donec ultricies mi
                                    in lorem porttitor, in condimentum nulla pretium.
                                </p>
                                <p class="text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis interdum magna, quis tincidunt eros ullamcorper sed.
                                    Aenean maximus volutpat sapien in malesuada. Morbi ultrices diam lacus. Nam faucibus purus ac mauris rhoncus, nec varius nunc
                                    ultrices. Nunc semper, quam id porta convallis, eros quam ultrices mi, vitae elementum ante urna nec neque. Nam malesuada
                                    commodo nibh eu consectetur. Maecenas rutrum leo sit amet ante blandit tempus. Maecenas vestibulum, libero eget convallis
                                    sollicitudin, lacus libero pellentesque ligula, non molestie ante enim vitae urna. Cras at commodo tortor. Pellentesque
                                    euismod lacus sit amet efficitur dignissim. Morbi sed eleifend mauris, eleifend fringilla neque. Vivamus vitae dolor vitae
                                    augue suscipit mollis vel quis sem. Sed metus nisl, posuere ut consequat eget, consectetur non tellus. Donec ultricies mi
                                    in lorem porttitor, in condimentum nulla pretium.
                                </p>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>