<p class="taller line-height-xl">
    Quer ser mais assertivo em suas ações de <span class="alternative-font">prospecção</span> e <span class="alternative-font">abertura</span> de novos mercados? 
    Então conheça o novo conceito estratégico de trabalho da DNA, desenhado para 
    potencializar seus negócios. 
</p>