<div class="col-md-12">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Benefícios
                    </a>
                </h4>
                <div class="panel-body">
                    <ul class="list list-icons list-secondary">
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Aumento do Market Share;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Assertividade com excelentes resultados das ações de marketing;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Aumento do Retorno Sobre Investimento (ROI);
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Identificação das melhores áreas geográficas para atuação;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Localização de possíveis clientes que tenham maior probabilidade de compra e menores índices de inadimplência;
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>
                                Redução de custos operacionais de prospecção.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>