<div class="col-md-12">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Benefícios
                    </a>
                </h4>
                <div class="panel-body">
                    <ul class="list list-icons list-secondary">
                        <li>
                            <i class="fa fa-check"></i>
                            <p>Aumento de participação de mercado (Market Share), destacando-se entre os concorrentes;</p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>Assertividade e excelentes resultados em campanhas e ações de marketing, trazendo maior eficácia no Retorno Sobre Investimento (ROI);</p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>Identifica as melhores áreas geográficas para atuação;</p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>Localiza possíveis clientes que tenham maior possibilidade de compra e menores índices de risco de inadimplência;</p>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <p>Reduz custos operacionais com visitas e ligações a clientes com menor potencial de compra e lucratividade.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>