@{
    ViewBag.Title = "DNA+ | Solicite uma Proposta";
}

@Html.Partial("_TitleBarContract")
<div class="container">
    <div class="row">
        @Html.Partial("_FormContract")
        @Html.Partial("_SideMenuContract")
    </div>
</div>

<script>
    window.onload = function () {
        activeContactMenu();
    };
</script>