<p id="btnDefaultFtp">
    Pesquisa:
    <button class="btn btn-ftp" id="btnTest">Teste01</button>
    <button class="btn btn-ftp">TesteParte02</button>
    <button class="btn btn-ftp">Teste Tipo 03</button>
</p>