<p id="btnFtpPhaseTwo" hidden="hidden">
    Pesquisa:
    <button class="btn btn-ftp" id="btnTestPhaseTwo">Teste01</button>
    <button class="btn btn-ftp">TesteParte02</button>
    <button class="btn btn-ftp">Teste Tipo 03</button>
</p>