<div class="col-md-6" hidden="hidden" id="ftpTest">
    <label style="float:left;">Teste</label>
    <input type="text" class="form-control" id="txtTest" style="margin-bottom:5px;" />
    <input type="button" value="Pesquisar" class="btn btn-default" style="float:left;margin-bottom:10px;" />
</div>