<p class="taller line-height-lg">
    Possuir um grande volume de informações não significa, necessariamente, estar preparado para tomar decisões. É preciso
    analisar e extrair o que a tendência dos dados apresentam para os seus negócios.

    A <span class="alternative-font">DNA+</span>, em parceria com a <span class="alternative-font">Step Wise</span> - Centro de Excelência em Inteligência Estatística, 
    oferece  uma inovadora ferramenta de modelagem estatística para mineração e análise de dados.
</p>