<div class="col-md-6">
    <div class="panel-group without-bg" id="accordion7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle text-lg center">
                        Como Funciona?
                    </a>
                </h4>
            </div>
            <div id="collapse7One" class="accordion-body">
                <div class="panel-body">
                    <p>
                        A partir dos dados de compras, vendas e pagamentos efetuados pelo CPF, analisamos estatisticamente a propensão de desempenho do consumidor, indicando se aquele CPF é adequado para liberação de transações comerciais.
                        Além disso, adequamos a ferramenta às necessidades do cliente, que pode adquirir somente o que vai ser útil a ele.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>