<div class="row center mt-xl">
    <div class="owl-carousel owl-theme" data-plugin-options='{"items": 10, "autoplay": true, "autoplayTimeout": 3000}'>
        <div>
            <img class="img-responsive" src="img/logos/logo-1.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-2.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-3.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-4.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-5.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-6.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-7.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-8.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-9.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="img/logos/logo-10.png" alt="">
        </div>
    </div>
</div>