<hr class="short">
<div class="container">
    <div class="row">
        <div class="counters">
            <div class="col-md-3">
                <div class="counter counter-dark">
                    <i class="fa fa-child"></i>
                    <strong data-to="+1000" data-append="+">0</strong>
                    <label>Clientes Satisfeitos</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="counter counter-dark">
                    <i class="fa fa-star"></i>
                    <strong data-to="9">0</strong>
                    <label>Anos no Mercado</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="counter counter-dark">
                    <i class="fa fa-user"></i>
                    <strong data-to="+190" data-append="+">0</strong>
                    <label>Milhões de CPFs</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="counter counter-dark">
                    <i class="fa fa-building-o"></i>
                    <strong data-to="+30" data-append="+">0</strong>
                    <label>Milhões de CNPJs</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter counter-dark">
                    <i class="fa fa-cloud-download"></i>
                    <strong data-to="+2" data-append="+">0</strong>
                    <label>Milhões de Dados Processados/Mês</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="short">