<hr />

<p class="lead left" data-appear-animation="bounceInUp">

    De <strong>Tratamento</strong> e <strong>Enriquecimento de Dados</strong> à <strong>Análise de Prospecção</strong>, a DNA+ oferece soluções completas em <strong>Inteligência de Mercado</strong>.

</p>

<p class="lead right" data-appear-animation="bounceInDown">

    Cada projeto desenhado do tamanho da sua necessidade, com profissionais especialistas para entregar o melhor resultado.

</p>

<hr />