@*<section class="section section-custom-map">
    <section class="section section-default section-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="recent-posts mb-xl">
                        <h2><strong>Últimos Posts</strong></h2>
                        <div class="row">
                            <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                                <div>
                                    <div class="col-md-4">
                                        <article>
                                            <div class="date">
                                                <span class="day">07</span>
                                                <span class="month">Fev</span>
                                                <span class="year">2016</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html" target="_blank">Convenção Empresarial.</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="blog-post.html" target="_blank" class="read-more">leia mais <i class="fa fa-angle-right"></i></a></p>
                                        </article>
                                    </div>
                                    <div class="col-md-4">
                                        <article>
                                            <div class="date">
                                                <span class="day">02</span>
                                                <span class="month">Fev</span>
                                                <span class="year">2016</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html" target="_blank">Estratégia de Mineração de Dados - Parte 2/3</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="blog-post.html" target="_blank" class="read-more">leia mais <i class="fa fa-angle-right"></i></a></p>
                                        </article>
                                    </div>
                                    <div class="col-md-4">
                                        <article>
                                            <div class="date">
                                                <span class="day">22</span>
                                                <span class="month">Jan</span>
                                                <span class="year">2016</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html" target="_blank">Como obter mais valor agregado dos dados de seus clientes.</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="blog-post.html" target="_blank" class="read-more">leia mais <i class="fa fa-angle-right"></i></a></p>
                                        </article>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-4">
                                        <article>
                                            <div class="date">
                                                <span class="day">11</span>
                                                <span class="month">Jan</span>
                                                <span class="year">2016</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html" target="_blank">Estratégia de Mineração de Dados - Parte 1/3</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="blog-post.html" target="_blank" class="read-more">leia mais <i class="fa fa-angle-right"></i></a></p>
                                        </article>
                                    </div>
                                    <div class="col-md-4">
                                        <article>
                                            <div class="date">
                                                <span class="day">22</span>
                                                <span class="month">Dez</span>
                                                <span class="year">2015</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html" target="_blank">Perdi os dados dos meus clientes. E AGORA?</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="blog-post.html" target="_blank" class="read-more">leia mais <i class="fa fa-angle-right"></i></a></p>
                                        </article>
                                    </div>
                                    <div class="col-md-4">
                                        <article>
                                            <div class="date">
                                                <span class="day">09</span>
                                                <span class="month">Dez</span>
                                                <span class="year">2015</span>
                                            </div>
                                            <h4 class="heading-primary"><a href="blog-post.html" target="_blank">A prospecção como ferramenta de negócio.</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="blog-post.html" target="_blank" class="read-more">leia mais <i class="fa fa-angle-right"></i></a></p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <a href="blog-listagem.html" target="_blank" class="btn btn-primary">Veja Todos os Posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>*@