<div class="container">
    <div class="row">
        <div class="col-md-11">
            <h2 class="mt-xl"><strong>Processamento OffLine</strong></h2>
            <div class="col-md-4">
                <img class="img-responsive mt-xl appear-animation" src="img/layout-styles-offline.png" alt="layout styles" data-appear-animation="fadeInLeft">
            </div>
            <p class="lead">
                A DNA+ possui soluções para grandes corporações e processamentos, que vão desde o Enriquecimento e Tratamento de Dados, como uma completa Solução de Prospecção para seus clientes.
            </p>
            <p>
                Para estas soluções personalizadas, estamos aptos a nos adequar às necessidades específicas de cada cliente, e contamos com profissionais especialistas para entregar o melhor resultado para cada um deles.
            </p>
        </div>
    </div>

    <!-- Exibe em Tela Cheia e Média -->
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-7">
            <h2 class="mt-xl"><strong>Soluções OnLine</strong></h2>
            <p class="lead">
                Cada vez mais a DNA+ vem trabalhando para oferecer a seus clientes, a agilidade e dinamismo que seus negócios exigem. Uma destas iniciativas é a disponibilização de plataforma online de serviços para você.
            </p>
            <p>
                Através da plataforma online, nossos clientes podem realizar pesquisas de seus clientes, compor informações detalhadas para Pesquisa CPF e CPNPJ, Enriquecimento de Dados, entre tantas outras soluções.
            </p>
            <a href="@Url.Action("AllServices","Services")" class="btn btn-lg btn-primary">Saiba Mais</a>
        </div>
        <div class="col-md-4 col-md-offset-1 mt-xl">
            <img class="img-responsive mt-xl appear-animation" src="img/layout-styles-online.png" alt="style switcher" data-appear-animation="fadeInRight">
        </div>
    </div>

    <!-- Exibe em Mobile e Tela Reduzida -->
    <div class="row visible-xs visible-sm">
        <div class="col-md-7">
            <h2 class="mt-xl">Soluções <strong>OnLine</strong></h2>
            <div class="col-md-4">
                <img class="img-responsive mt-xl appear-animation" src="img/layout-styles-online.png" alt="style switcher" data-appear-animation="fadeInRight">
            </div>
            <p class="lead">
                Cada vez mais a DNA+ vem trabalhando para oferecer a seus clientes, a agilidade e dinamismo que seus negócios exigem. Uma destas iniciativas é a disponibilização de plataforma online de serviços para você.
            </p>
            <p>
                Através da plataforma online, nossos clientes podem realizar pesquisas de seus clientes, compor informações detalhadas para Pesquisa CPF e CPNPJ, Enriquecimento de Dados, entre tantas outras soluções.
            </p>
            <a href="@Url.Action("AllServices","Services")" class="btn btn-primary">Saiba Mais</a>
        </div>
    </div>

    <hr class="short">

</div>