@using DNAMais.Domain.Entidades
@using DNAMais.Framework

@model TipoEndereco

@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";

    ViewBag.Title = "DNA+ :: Tipos de Endereço";
    ViewBag.TituloPagina = "Tipo de Endereço";

    //VARIAVEIS PARA UTILIZAÇÃO EM VISOES SHARED
    ViewData["messageSuccess"] = "Tipo de endereço registrado com sucesso";
    ViewData["messageReturn"] = "Voltar para lista de Tipos de Endereço";

    bool locked = ViewData["LOCKED"] == null ? false : (bool)ViewData["LOCKED"];
}

@section cadastro
{
    @if (Request.HttpMethod == "GET" || !ViewData.ModelState.IsValid)
    {
        <div class="span6" style="width:100%;">

            @Html.DnaMaisTextBoxNumberFor(
                expression: m => m.Id,
                width: 100,
                disabled: locked)

            @Html.DnaMaisTextBoxFor(
                expression: m => m.Nome,
                width: 300,
                disabled: locked)

            <hr class="separator" />
        </div>
    }
}

@section validacoes
{
    @Html.Validations((TipoEndereco)Model)
}
