<p id="btnVehiclePhaseTwo" hidden="hidden">
    Pesquisa:
    <button class="btn btn-vehicles" id="btnPlatePhaseTwo">Placa</button>
    <button class="btn btn-vehicles">Modelo</button>
    <button class="btn btn-vehicles">Localidade</button>
</p>